{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    
    <!-- Navbar -->
    {% include 'craigslist/components/navbar.html' %}

    <!-- Content Container -->
     <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>