{% extends 'craigslist/layouts/base.html' %}

{% block content%}
    
    <!-- title -->
    <section class="section">
        <div class="has-text-centered">
            <h3 class="title">What are you looking to purchase?</h3>
            <p class="subtitle is-size-6">Craigslist Clone makes finding what you need easy.</p>
        </div>
    </section>
    
    <section>
        <div class="columns">

            <!-- Box -->
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <img style="margin-top:1.5rem" src="https://cdn11.bigcommerce.com/s-sq9zkarfah/images/stencil/1280x1280/products/69611/153629/Lightning-Bolt-Vinyl-Decal__76953.1510988433.jpg?c=2?imbypass=on" alt="Lightning Bolt">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Lightning fast web scraper</strong><br>
                                    Scrape away right here with a beautiful GUI.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        

            <!-- Box -->
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <img style="margin-top:1.5rem" src="https://cdn1.iconfinder.com/data/icons/money-finance-set-2/512/41-512.png" alt="Lightning Bolt">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Filter your searches</strong><br>
                                    Built advanced filtering based on price.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        

            <!-- Box -->
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <img style="margin-top:1.5rem" src="https://cdn0.iconfinder.com/data/icons/user-interface-bold-sketch/100/ui_sketch_user_interface_interaction-31-512.png" alt="Lightning Bolt">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>A more friendly UI.</strong><br>
                                    We designed this clone with care.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        
        </div>
    </section>

{% endblock %}